.section-about {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  padding: 1.5rem 0;
  background-image: url(../images/mobile/illustration-about-me-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% -2%;

  &__skills {
    margin-top: 1.5rem;
    width: 100%;

    .container {
      display: grid;
      grid-gap: 1.2rem;

      @media (min-width: 750px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
