.section-contact {
  background-image: url(../images/mobile/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;

  .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
