.section-contact {
  background-image: url(../images/mobile/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 1.2rem 0;

  @media (min-width: 700px) {
    background-image: url(../images/desktop/illustration-contact.svg);
    background-position: 50% 100%;
    background-size: contain;
    padding: 4.75rem 0 12rem;
  }

  &__heading {
    @media (min-width: 750px) {
      font-size: 1.5rem;
      width: 45%;
    }
  }

  &__form {
    @media (min-width: 750px) {
      width: 55%;
      align-items: flex-start !important;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (min-width: 750px) {
      flex-direction: row;
      gap: 1.2rem;
    }
  }
}
