.header {
  padding: 1.2rem 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 700px) {
    display: none;
  }

  &__logo {
    font-weight: 600;
  }
}

.desktop-nav {
  display: none;

  @media (min-width: 700px) {
    display: block;
  }

  &__list {
    display: flex;
    justify-content: center;
    color: $color-dark;
    font-size: 0.8rem;
  }

  &__el {
    margin-right: 1.2rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
