.section-hero {
  background-image: url(../images/mobile/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 55px;
  padding: 25vh 0 1.2rem;

  @media (min-width: 700px) {
    background-position: 100% 0%;
    min-height: 80vh;
  }

  @media (min-width: 900px) {
    background-image: url(../images/desktop/header-llustration-desktop.svg);
  }

  @media (min-width: 1200px) {
    min-height: 120vh;
  }

  &__text {
    text-align: center;

    @media (min-width: 700px) {
      margin-bottom: 1.7rem;
    }
  }

  &__description {
    @media (min-width: 700px) {
      margin-bottom: 1.2rem;
    }
  }

  &__socials {
    @media (min-width: 700px) {
      margin-bottom: 4.2rem;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (min-width: 700px) {
      gap: 0;
    }
  }
}
