.section-works {
  padding: 1.2rem 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5rem;

    @media (min-width: 1024px) {
      gap: 2.6rem;
    }
  }

  &__projects {
    width: 100%;
    display: grid;
    grid-gap: 1.2rem;

    @media (min-width: 600px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}
