.btn-arrow {
  align-self: center;
  animation: bounce 1.5s infinite;
}

.btn-cta {
  font-size: 0.8rem;
  font-weight: 500;
  color: $color-white;
  border: none;
  background-color: $color-primary;
  border-radius: 4px;
  padding: 0.6em;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.2s;

  &:hover {
    background-color: rgba($color-primary, 0.9);
    box-shadow: 0 8px 16px rgba(255, 97, 99, 0.24);
    transform: translateY(-1px);
  }

  &:active {
    background-color: #dd5153;
    transform: translateY(1px);
  }
}
