.card {
  background-color: $color-secondary-light;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__portfolio-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  &__portfolio-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    text-align: center;
    border-radius: 8px;
    background-color: $color-white;
    padding: 2rem;
    width: 100%;
    min-height: 50%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }

  &__list-item {
    font-size: 0.6rem;
    background-color: $color-secondary-light;
    padding: 0.5em 0.6em;
    border-radius: 4px;

    &--skill {
      background-color: $color-white;
      color: $color-primary;
    }
  }

  &__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 1.2rem;
  }

  &__icon {
    display: grid;
    place-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $color-white;
    margin: 2rem 0 3rem;
  }
}
