.section-about {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;

  padding: 1.5rem 0;

  &__skills {
    margin-top: 1.5rem;

    .container {
      display: grid;
      grid-gap: 1.2rem;
    }
  }
}
