@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

$font-base: 1rem;
$font-heading: 2rem;
$font-heading--big: 2.6rem;
$font-section-heading: 2rem;
$font-subheading: 1.2rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;

  &--small {
    max-width: 900px;
  }
}
