.heading {
  font-size: $font-heading;
  line-height: 2.6rem;
  color: $color-dark;

  @media (min-width: 700px) {
    font-size: $font-heading--big;
    line-height: 3rem;
  }

  &--subtitle {
    font-size: $font-heading;
    color: $color-primary;

    @media (min-width: 700px) {
      font-size: $font-heading--big;
    }
  }
}

.section-heading {
  font-size: $font-section-heading;
  text-align: center;
  position: relative;
  color: $color-dark;

  &--underlined {
    @media (min-width: 1024px) {
      &::after {
        display: none;
      }
    }

    &::after {
      position: absolute;
      left: 50%;
      bottom: -1.2rem;
      content: "";
      width: 48px;
      height: 4px;
      background-color: $color-primary;
      transform: translateX(-50%);
    }
  }
}

.subheading {
  font-size: $font-subheading;
  font-weight: 600;
  color: $color-dark;
}

.base-text {
  font-size: $font-base;
  text-align: center;
  line-height: 30px;
}
