@import "colors";
@import "base";
@import "typography";
@import "components/buttons";
@import "sections/header";
@import "sections/hero";
@import "components/socials";
@import "sections/works";
@import "components/card";
@import "sections/about";
@import "sections/contact";
@import "sections/footer";
