@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

a::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: #ff6163;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover::after {
  width: 80%;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.container--small {
  max-width: 900px;
}

.hidden {
  display: none !important;
}

.translated {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

.heading {
  font-size: 2rem;
  line-height: 2.6rem;
  color: #172b4d;
}

@media (min-width: 700px) {
  .heading {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

.heading--subtitle {
  font-size: 2rem;
  color: #ff6163;
}

@media (min-width: 700px) {
  .heading--subtitle {
    font-size: 2.6rem;
  }
}

.section-heading {
  font-size: 2rem;
  text-align: center;
  position: relative;
  color: #172b4d;
}

@media (min-width: 1024px) {
  .section-heading--underlined::after {
    display: none;
  }
}

.section-heading--underlined::after {
  position: absolute;
  left: 50%;
  bottom: -1.2rem;
  content: "";
  width: 48px;
  height: 4px;
  background-color: #ff6163;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.subheading {
  font-size: 1.2rem;
  font-weight: 600;
  color: #172b4d;
}

.base-text {
  font-size: 1rem;
  text-align: center;
  line-height: 30px;
}

.btn-arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: bounce 1.5s infinite;
          animation: bounce 1.5s infinite;
}

.btn-cta {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  border: none;
  background-color: #ff6163;
  border-radius: 4px;
  padding: 0.6em;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-cta:hover {
  background-color: rgba(255, 97, 99, 0.9);
  -webkit-box-shadow: 0 8px 16px rgba(255, 97, 99, 0.24);
          box-shadow: 0 8px 16px rgba(255, 97, 99, 0.24);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.btn-cta:active {
  background-color: #dd5153;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.header {
  padding: 1.2rem 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 700px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav__logo {
  font-weight: 600;
}

.mobile-nav__close {
  z-index: 5;
}

.mobile-nav__list {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding-top: 5rem;
  padding-left: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.mobile-nav__list a {
  font-size: 1.5rem;
}

.desktop-nav {
  display: none;
}

@media (min-width: 700px) {
  .desktop-nav {
    display: block;
  }
}

.desktop-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #172b4d;
  font-size: 0.8rem;
}

.desktop-nav__el {
  margin-right: 1.2rem;
}

.desktop-nav__el:last-of-type {
  margin-right: 0;
}

.section-hero {
  background-image: url(../images/mobile/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% -25px;
  padding: 25vh 0 1.2rem;
}

@media (min-width: 700px) {
  .section-hero {
    background-position: 100% 0%;
    min-height: 80vh;
  }
}

@media (min-width: 900px) {
  .section-hero {
    background-image: url(../images/desktop/header-llustration-desktop.svg);
  }
}

@media (min-width: 1200px) {
  .section-hero {
    min-height: 150vh;
  }
}

.section-hero__text {
  text-align: center;
}

@media (min-width: 700px) {
  .section-hero__text {
    margin-bottom: 1.7rem;
  }
}

@media (min-width: 700px) {
  .section-hero__description {
    margin-bottom: 1.2rem;
  }
}

@media (min-width: 700px) {
  .section-hero__socials {
    margin-bottom: 4.2rem;
  }
}

.section-hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

@media (min-width: 700px) {
  .section-hero .container {
    gap: 0;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item {
  margin-right: 1rem;
}

.socials__item:last-of-type {
  margin-right: 0;
}

.section-works {
  padding: 1.2rem 0;
}

@media (min-width: 750px) {
  .section-works {
    padding: 0 0 4.75rem;
  }
}

.section-works .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.5rem;
}

@media (min-width: 1024px) {
  .section-works .container {
    gap: 2.6rem;
  }
}

.section-works__projects {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.2rem;
}

@media (min-width: 600px) {
  .section-works__projects {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech-list__item {
  font-size: 0.6rem;
  background-color: #f9eaea;
  padding: 0.5em 0.6em;
  border-radius: 4px;
}

.tech-list__item--skill {
  background-color: #fff;
  color: #ff6163;
}

.card {
  background-color: #f9eaea;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.card__portfolio-img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__portfolio-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  padding: 1.2rem;
  width: 100%;
  height: 100%;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__list-item {
  font-size: 0.6rem;
  background-color: #f9eaea;
  padding: 0.5em 0.6em;
  border-radius: 4px;
}

.card__list-item--skill {
  background-color: #fff;
  color: #ff6163;
}

.card__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  padding: 1.2rem;
}

.card__icon {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fff;
  margin: 2rem 0 3rem;
}

.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  background-image: url(../images/mobile/illustration-about-me-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% -2%;
}

@media (min-width: 750px) {
  .section-about {
    padding: 4.75rem 0;
  }
}

@media (min-width: 700px) {
  .section-about {
    background-image: url(../images/desktop/illustration-abou-me.svg);
  }
}

.section-about__skills {
  margin-top: 1.5rem;
  width: 100%;
}

.section-about__skills .container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.2rem;
}

@media (min-width: 750px) {
  .section-about__skills .container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.section-contact {
  background-image: url(../images/mobile/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 1.2rem 0;
}

@media (min-width: 700px) {
  .section-contact {
    background-image: url(../images/desktop/illustration-contact.svg);
    background-position: 50% 100%;
    background-size: contain;
    padding: 4.75rem 0 12rem;
  }
}

@media (min-width: 750px) {
  .section-contact__heading {
    font-size: 1.5rem;
    width: 45%;
    text-align: left;
  }
}

.section-contact__form input::-webkit-input-placeholder,
.section-contact__form textarea::-webkit-input-placeholder {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section-contact__form input:-ms-input-placeholder,
.section-contact__form textarea:-ms-input-placeholder {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section-contact__form input::-ms-input-placeholder,
.section-contact__form textarea::-ms-input-placeholder {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section-contact__form input::placeholder,
.section-contact__form textarea::placeholder {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section-contact__form input:hover::-webkit-input-placeholder,
.section-contact__form textarea:hover::-webkit-input-placeholder {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.section-contact__form input:hover:-ms-input-placeholder,
.section-contact__form textarea:hover:-ms-input-placeholder {
  transform: translateX(3px);
}

.section-contact__form input:hover::-ms-input-placeholder,
.section-contact__form textarea:hover::-ms-input-placeholder {
  transform: translateX(3px);
}

.section-contact__form input:hover::placeholder,
.section-contact__form textarea:hover::placeholder {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

@media (min-width: 750px) {
  .section-contact__form {
    width: 55%;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}

.section-contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

@media (min-width: 750px) {
  .section-contact .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.2rem;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form__textarea, .contact-form__input {
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.contact-form__textarea:focus, .contact-form__input:focus {
  outline: none;
  border: 1px solid #ff6163;
  background-color: rgba(249, 234, 234, 0.3);
}

.section-footer {
  padding: 1.2rem 0 5rem;
}

@media (min-width: 750px) {
  .section-footer {
    padding: 1.2rem 0;
  }
}

.section-footer__socials {
  margin-bottom: 1rem;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(255, 231, 232, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.modal-project {
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  max-width: 920px;
  padding: 1rem;
  border-radius: 16px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
}

.modal-project__close-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  background-color: transparent;
}

@media (min-width: 860px) {
  .modal-project__close-btn {
    grid-column: 2 / -1;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.modal-project__img {
  height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 860px) {
  .modal-project__img {
    grid-column: 1 / -1;
    width: 100%;
  }
}

@media (min-width: 860px) {
  .modal-project__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

.modal-project__tech-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 860px) {
  .modal-project__tech-list {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

.modal-project__text {
  font-size: 0.8rem;
  text-align: left;
}

@media (min-width: 860px) {
  .modal-project__text {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    grid-column: 1 / -1;
  }
}

.modal-project__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
}

.modal-project__buttons .btn-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

@media (min-width: 860px) {
  .modal-project__buttons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media (min-width: 860px) {
  .modal-project {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    -ms-grid-columns: 70% 1fr;
        grid-template-columns: 70% 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */